/* 전체 요소에 대한 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 1px solid red;
  width: 1920px;
  height: 104px;
}

.background {
  border: 1px solid blue;
  width: 1920px;
  height: 42px;
}

.container {
  border: 1px solid green;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.greeting_h2 {
  position: absolute;
  top: 62px;
  left: 0px;
  font-size: 32px;
}

.container > aside {
  width: 210px;
  height: 302px;
  position: absolute;
  top: 116px;
}

aside > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 59px;
  border-top: 2px solid #222222;
  border-bottom: 1px #dcdcdc;
  background-color: #3f97f6;
  cursor: pointer;
}
aside > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 59px;
  border-bottom: 4px red;
}
aside > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 59px;
  border-bottom: 1px #dcdcdc;
}
aside > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 59px;
  border-bottom: 1px #dcdcdc;
}
aside > div:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 59px;
  border-bottom: 1px #dcdcdc;
}

.container > .greeting_content {
  border: 2px solid orange;
  width: 990px;
  height: 501px;
}

.footer1 {
  border: 1px solid purple;
  width: 1920px;
  height: 50px;
}

.footer2 {
  border: 1px solid red;
  width: 1920px;
  height: 169px;
}
