/* 
  이름 : 최명기
  날짜 : 2025/03/11
  내용 : container.css
  
*/

/* 공통 설정 꼭 하기 */
/* 전체 요소에 대한 기본 여백 제거 */

* {
  margin: 0;
  padding: 0;
  font: normal 12px "Noto Sans KR";
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  overflow-x: hidden; /* 가로 스크롤 추가 */
  min-width: 1200px; /* 최소 너비 유지 */
}

/* col_intro container */
.container_col_intro {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

/* col_life container */
.container_col_life {
}

/* community container */
.container_community {
}

/* 학생지원 */
/* .container_col_intro {
  
} */

.container_h2 {
  position: absolute;
  width: 930px;
  height: 44px;
  top: 62px;
  left: 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
}

.container_col_intro > aside {
  width: 210px;
  height: 302px;
  position: absolute;
  top: 116px;
  border-top: 2px solid #222222;
}

aside > div:nth-child(1) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;

  cursor: pointer;
}

aside > div:nth-child(2) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;
}
aside > div:nth-child(3) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;
}
aside > div:nth-child(4) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;
}
aside > div:nth-child(5) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;
}

/* 학사 안내에 추가된 aside */
aside > div:nth-child(6) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 210px;
  height: 59px;
  border-bottom: 1px solid #dcdcdc;
}

/* aside 창 색깔 변경 */
aside > .aside_1 {
  background-color: #3f97f6;
  color: white;
}
aside > .aside_2 {
  background-color: #3f97f6;
  color: white;
}
aside > .aside_3 {
  background-color: #3f97f6;
  color: white;
}
aside > .aside_4 {
  background-color: #3f97f6;
  color: white;
}
aside > .aside_5 {
  background-color: #3f97f6;
  color: white;
}

aside > .aside_6 {
  background-color: #3f97f6;
  color: white;
}

/* aside div 폰트 설정 */
aside > div {
  font-family: "Noto Sans KR", sans-serif; /* 폰트 패밀리 */
  font-size: 16px; /* 글자 크기 */
  font-weight: 350; /* 글자 두께 (보통) */
  line-height: 21px; /* 줄 간격 */
  letter-spacing: 0%; /* 글자 사이 간격 */
}

.container_col_intro > .container_content {
  width: 990px;
  height: 501px;
  position: absolute;
  left: 210px;
  padding-top: 60px;
  padding-bottom: 252px;
  padding-left: 60px;
  gap: 30px;
}

.container_h3 {
  width: 930px;
  height: 56px;
  border-bottom: 2px solid #222222;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 0%;
}
