<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />

  <script th:src="@{/js/header.js}"></script>
  <link rel="stylesheet" th:href="@{/style/common/_header.css}" />
  <link rel="stylesheet" th:href="@{/style/common/_header2.css}" />
  <link rel="stylesheet" th:href="@{/style/common/main.css}" />
  <link rel="stylesheet" th:href="@{/style/enterance_guide/early.css}" />
  <link rel="stylesheet" th:href="@{/style/common/_footer.css}" />

  <title>수시모집</title>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="topMenuBar">
      <ul class="topMenus">
        <li><a href="#">HOME</a></li>
        <li><a href="#">사이트맵</a></li>
        <li><a href="#">로그인</a></li>
        <li><a href="#">학생지원</a></li>
      </ul>
    </div>
    <div>
      <div class="category">
        <a href="#">
          <img th:src="@{/images/header_logo.png}" alt="그린대학교" class="logo" />
        </a>
        <div class="nav-container">
          <!-- nav 생략 가능 -->
        </div>
      </div>
    </div>
    <div class="location-container">
      <div>
        <ul>
          <li>
            <a href="#">
              <img th:src="@{/images/ico-home.png}" alt="home" class="ico-home" />
            </a>
          </li>
          <li>
            <img th:src="@{/images/btn-next-page.png}" alt="next" class="ico-next" />
            <a href="#">입학안내</a>
          </li>
          <li>
            <img th:src="@{/images/btn-next-page.png}" alt="next" class="ico-next" />
            <a href="#" class="this-location">수시모집</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <div class="main-container">
      <aside>
        <h3>입학안내</h3>
        <div class="side-link-container">
          <a href="#"><div class="side-link">공지사항</div></a>
          <a href="#"><div class="side-link selected-link">수시모집</div></a>
          <a href="#"><div class="side-link">정시모집</div></a>
          <a href="#"><div class="side-link">편입학</div></a>
          <a href="#"><div class="side-link">입학상담</div></a>
        </div>
      </aside>

      <div class="enterance-container">
        <h4>수시모집</h4>
        <form action="#" class="searchForm">
          <button type="button" class="pdfBtn btnsize1" onclick="downloadPDF()">모집요강</button>
          <button type="button" class="pdfBtn btnsize2" onclick="downloadPDF()">농어촌전형 지원자격 확인서</button>
          <button type="button" class="pdfBtn btnsize2" onclick="downloadPDF()">생기부 교과목록</button>
          <button type="button" class="pdfBtn btnsize2" onclick="downloadPDF()">부가성적반영자격증</button>
          <button type="button" class="pdfBtn btnsize1" onclick="downloadPDF()">추천서</button>
        </form>

        <div class="education-intro-text">
          <p class="early-text1">접수 및 일정(2025학년도)</p>
        </div>

        <div class="table">
          <table cellspacing="0">
            <thead>
            <tr>
              <th>구분</th>
              <th>일정</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>원서접수</td>
              <td>
                <li>진학사 : www.jinhakapply.com (1544-7715)</li>
                <li>대학자체접수: apply.dit.ac.kr (860-3031~4) ※ 전형료 무료</li>
              </td>
            </tr>
            <tr><td>접수기간</td><td>2024.09.09.(월)~10.02.(수)</td></tr>
            <tr>
              <td>서류제출</td>
              <td>
                <li>2024.09.09.(월)~10.03.(목)</li>
                <li>[해당 기간 동안 대학 도착 서류만 유효함]</li>
              </td>
            </tr>
            <tr><td>면접고사</td><td>2024.10.10.(목)~10.12.(토)</td></tr>
            <tr><td>최초합격자 발표</td><td>2024.10.25.(금) 16:00 예정</td></tr>
            <tr><td>예치금 납부</td><td>2024.12.16.(월)∼12.18.(수) 17:00까지</td></tr>
            <tr><td>추가합격</td><td>2024.12.18.(수) ~ 12.30.(월) 21:00까지</td></tr>
            <tr><td>추가합격 등록</td><td>2024.12.19.(목) ~12.30.(월) 21:00까지</td></tr>
            <tr>
              <td>
                <li>최종 등록금 납부</li>
                <li>(예치금 납부자만 등록 가능함)</li>
              </td>
              <td>2025.02.10.(월)∼02.12.(수) 17:00까지</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="early-text">
          <p>면접실시 학과</p>
          <p>※ 정원내 → 일반고, 특성화고, 대학자체기준 전형(방사선과, 사회복지학과, 외식조리산업과, 의료피부미용과, 전기자동차과, 컴퓨터소프트웨어과, 헤어뷰티과)</p>
          <p>[단, 헤어뷰티과는 대학자체기준 전형만 시행]</p>
          <p>※ 정원외 → 대학졸업자전형(간호학과, 물리치료과, 방사선과, 응급구조과, 임상병리과) 및 조기취업형 계약학과</p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-link-container">
      <div class="footer-link">
        <ul class="footer-links">
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">통합정보시스템</a></li>
          <li><a href="#">학사일정</a></li>
          <li><a href="#">주요민원 연락처</a></li>
          <li><a href="#">교내공지사항</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-container">
        <img th:src="@{/images/footer_logo.png}" alt="그린대학교" class="footer-logo" />
        <div class="footer-text-container">
          <p class="footer-text">
            그린대학교<br />
            [12345] 부산광역시 부산진구 부전대로 123 그린대학교
            &nbsp;/&nbsp; 대표전화 : 051-123-1000 /<br />
            입학안내 : 051-123-1302 팩스 : 051-123-333
          </p>
          <p class="footer-text text2">
            copyright ©Green University All rights reserved.
          </p>
        </div>
        <select onchange="window.open(value,'_self');" class="site">
          <option class="sites" value="#" disabled selected>주요사이트</option>
          <option class="sites" value="https://naver.com">네이버</option>
          <option class="sites" value="https://www.kakaocorp.com/page/">카카오</option>
          <option class="sites" value="https://www.line.me/ko/">라인</option>
          <option class="sites" value="https://www.coupang.com/">쿠팡</option>
          <option class="sites" value="https://www.woowahan.com/">배달의민족</option>
        </select>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
