* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
body {
    overflow-x: hidden; /* 가로 스크롤 추가 */
    min-width: 1200px; /* 최소 너비 유지 */
}

/* --------- header start --------- */
header {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 1200px;
    margin: 0 auto;
}

.topMenuBar {
    width: 100%;
    background-color: #3F97F6;
}
.topMenus {
    height: 28px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    text-align: right;
}

.topMenus li {
    display: inline;
}

.topMenus li > a {
    color: white;
    border-right: 1px solid #78B6F9;
    padding-left: 5px;
    padding-right: 7px;
    font-weight: 350;
}

.topMenus li:last-child > a {
    border: none;
    padding-right: 0;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;    
}

.cateList li {
    display: inline;
}

.cateList li > a {
    color: #333;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 500;
}

.cateList li:last-child > a {
    margin-right: 0px;
}
/* --------- header end --------- */

/* --------- main start --------- */
main {
    background-color: #F3F5F9;
}

main > div > * {
    width: 1200px;
    margin: 0 auto;
}

/* --------- swiper start --------- */
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.slide > * {
    position: relative;
    bottom: 50px;
}
.slide1 {
    background-image: url(/static/images/bg-main-vi01.jpg);
}
.slide2 {
    background-image: url(/static/images/bg-main-vi02.jpg);
}
.slide3 {
    background-image: url(/static/images/bg-main-vi03.jpg);
}
.swiper-pagination {
    position: relative;
    margin-top: -150px;
    padding-bottom: 150px;
}
.swiper-pagination-bullet-active {
    border: 1px solid white;
    background-color: white;
}
.swiper-pagination-bullet {
    border: 1px solid white;
}
.swiper-button-prev {
    color: #bbbbbb90;
}
.swiper-button-next {
    color: #bbbbbb90;
}
.bgtext-normal {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
.bgtext-bold {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 20px;
}
.bgtext-light {
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
}
.shortcut {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 11px 35px;
    margin-top: 50px;
    border: 1px solid white;
    box-sizing: border-box;
}
.shortcut-icon {
    margin-left: 10px;
}
/* --------- swiper end --------- */

/* --------- content start --------- */
.content-container {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
    bottom: 120px;
}

.content-header {
    padding-bottom: 15px;
    border-bottom: 2px solid #3F97F6;
    margin-bottom: 15px;
}
.notice-header {
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}
.content-title {
    font-weight: 700;
    font-size: 20px;
}
.content-header > a {
    float: right;
}
.guide-header span {
    color: #3F97F6;
}
.content {
    width: 600px;
    height: auto;
    padding: 35px;
    box-sizing: border-box;
    margin: 0;
}
.guide {
    background-color: white;
    color: #333;
    
}
.notice {
    background-color: #3F97F6;
    color: white;
}
.content-posts {
    margin-top: 10px;
}
.post-title {
    font-size: 16px;
    font-weight: 350;
}
.guide-title {
    color: #333;
}
.notice-title {
    color: white;
}
.content-date {
    float: right;
    font-size: 16px;
    font-weight: 350;
}
.guide-date {
    color: #888888;
}
/* --------- content end --------- */

/* --------- gallery start --------- */
.gallery {
    margin-top: -75px;
    margin-bottom: 75px;
}
.gallery-header {
    padding: 20px 0;
}
.gallery-header > a {
    float: right;
}
.gallery-header span {
    color: #3F97F6;
    font-weight: 700;
    font-size: 20px;
}
.frame-container {
    display: flex;
    justify-content: space-between;
}
.frame {
    width: 285px;
    position: relative;
    box-sizing: border-box;
}
.photos {
    width: 285px;
    height: 220px;
}
.frame-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 3px;
    color: white;
    font-size: 16px;
    font-weight: 350;
    text-align: center;
    background-color: #0282D5BF;
}
/* --------- gallery end --------- */

/* --------- dongari helper start --------- */
.dongari-helper {
    background-image: url(/static/images/bg-main-banner.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 152px;
    box-sizing: border-box;
}
.dongari-helper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.dongari-helper-text {
    display: flex;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
}
.dongari-helper-text > h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.dongari-helper-text > p {
    font-size: 16px;
    font-weight: 350;
}
.dongari-helper-detail {
    padding: 10px 60px;
    border: 1px solid white;
}
.dongari-helper-detail > a {
    color: white;
    font-size: 16px;
    font-weight: 350;
}
/* --------- dongari helper end --------- */

/* --------- second content start --------- */
.sec-content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.news {
    background-color: #F3F5F9;
    box-sizing: border-box;
    color: #333;
    padding: 60px 35px 60px 0;
    position: relative;
}
.news, .smart-link {
    padding-top: 60px;
}
.news-header span {
    color: #3F97F6;
}
.news-title {
    color: #333;
}
.news-date {
    color: #888888;
}
.smart-link {
    background-color: white;
    padding: 60px 0 60px 35px;
    position: relative;
}
.smart-link-header {
    text-align: center;
}
.smart-link-header span {
    color: #3F97F6;
}
.smart-links-container {
    border-bottom: 1px solid #DDDDDD;
    height: 152px;
}
.smart-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.link-icons > img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    padding: 25px;
    background-color: #9ABEDF;
    border-radius: 50px;
}
.link-icons > p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #252525;
}

.sec-content-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% - 600px);
    height: 100%;
    background-color: white;
}
/* --------- second content end --------- */
/* --------- main end --------- */

/* --------- footer start --------- */
footer > div > * {
    width: 1200px;
    margin: 0 auto;
}
.footer-link-container {
    display: flex;
    align-items: center;
    background-color: #1F2838;
    height: 50px;
}
.footer-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer-links li {
    border-left: 1px solid #6F747E;
    text-align: center;
    flex: 1;
}
.footer-links li:last-child {
    border-right: 1px solid #6F747E;
}
.footer-links li > a {
    color: white;
    font-size: 14px;
    font-weight: 350;
}
.copyright {
    background-color: #19202D;
}
.copyright-container {
    display: flex;
    padding: 30px 0;
}
.footer-logo {
    width: 160px;
    height: 41px;
    margin-right: 20px;
}
.footer-text {
    color: #A8A9AC;
    font-size: 14px;
    font-weight: 350;
    line-height: 21px;
}
.footer-text:nth-child(2) {
    margin-top: 20px;
}

.dropdown {
    margin-left: auto;
    display: flex;
    width: 200px;
    height: 36px;
    padding-left: 20px;
    align-items: center;
    background-color: #121721;
    box-sizing: border-box;
}
.dropdown > a {
    color: #A7A7A9;
    font-size: 16px;
    font-weight: 350;
}
  
/* --------- footer end --------- */
